# Print function

In [1]:
print('Data Analyst')

Data Analyst

# What are Data Types?

Data types tells Python what kind of data we are working with.

- Integer: Whole numbers (5, 10, 100, 0, -300, -1)
- Float: Decimal numbers (10.5, 4.4, 3.147, -0.001)
- String: Sequence or Combination of Characters, and they are always enclosed in quotes ('Hello', 'World', '3.02', "Hi")
- Boolean: True or False values

# Variables

A variable is like a box where you can store data.

In [2]:
first_name = 'Uzair'
print(first_name)

Uzair

- Checking data type

In [4]:
marks = 100
height = 5.11
first_name = 'Uzair'
is_happy = True

print(type(marks))
print(type(height))
print(type(first_name))
print(type(is_happy))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Basic Operations

- Addition (+)
- Subtraction -
- Multiplication *
- Division /

In [6]:
print(15/3)

5.0

# Input from Users

In [15]:
age = input("Enter you age please:")
print(age)

26

# Introduction to String

- Accessing Character in a String (Indexing)

In [9]:
first_name = 'Rohit'  # The first character is at index 0, second char is at index 1 and so on.
print(first_name[0])

t

In [11]:
first_name = 'Rohittttttttttttttttttttttttttttttttttttttttttfgfbfvfbgvf'  
print(first_name[-2])

v

In [13]:
name = 'Rohit Sharma'
print(name[5])

t

- Slicing

Allow us to extract part of a string. You have to specify start and end index and Python will return the substring.

In [16]:
name = 'Rohit Sharma'
print(name[0:5])

Rohit

In [18]:
name = 'Rohit Sharma'
print(name[6:])

Sharma

In [19]:
name = 'Rohit Sharma'
print(name[:5])

Rohit

String Methods

1) lower()

In [20]:
greeting = 'HELLO'   # convert it into lowercase 'hello' 
print(greeting.lower())

hello

2. upper

In [21]:
first_name = 'rohit'  # convert it into uppercase 'ROHIT' 
print(first_name.upper())

ROHIT

3) strip()

It remove any unwanted space at the beginning and ending of a string.

In [2]:
text = '    Python    '
print(text)
print(text.strip())

    Pyt   hon
Pyt   hon

4. len

In [27]:
text = 'Pythonnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn'
print(len(text))

49

5. count

In [30]:
fruit = 'bananaba'
print(fruit.count('ba'))

2

In [1]:
# Exercise 2

# Convert the string " Hello, World! " to lowercase and remove any extra spaces at the beginning and end.

# Result: hello, world!

text = " Hello, World! "
modified_text = text.lower()  # Lowercasing and then storing in a new variable
print(modified_text.strip()) # Removing unwanted space

hello, world!

- replace method

Replace a part of the string with another string.

In [3]:
text = 'I like Python'
print(text.replace('like', 'love'))

I love Python

- Finding Substrings

1) index()

Returns the index of the first occurance of a substring, but raises an error if the substring is not found.

In [8]:
text = "Hello, World!"
print(text.index('H'))

0

2. find()

Returns the index of the first occurance of a substring, or -1 if not found.

In [7]:
text = "Hello, World!"
print(text.find('x'))

-1

- String Concatenation

Combining two strings

In [9]:
num1 = 2
num2 = 5

print(num1 + num2)

7

In [11]:
text1 = 'Hello'
text2 = 'World'

print(text1 + " " + text2)

Hello World

# List

- A list in Python is a collection of items, which can be of any data type such as integers, float, str, boolean.
- List are ordered.
- List are also mutable. (Replace, Add, Remove)
- We use square brackets to create a list.

In [ ]:
# Store all the names of students who enrolled in Computer Science class
# Rohit, Zankar, Heet, Alee, Zayn, Akanxa

student_1 = 'Rohit'
student_2 = 'Zankar'

In [16]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee']
print(students)

['Rohit', 'Zankar', 'Heet', 'Alee']

In [17]:
marks = [88, 47, 99, 100, 50]
print(marks)

[88, 47, 99, 100, 50]

In [18]:
uzair = ['Uzair', 26, 5.11, True, 'Football']
print(uzair)

['Uzair', 26, 5.11, True, 'Football']

- Accessing List Items

In [22]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']
print(students[0:3])

['Rohit', 'Zankar', 'Heet']

- Modify List Items

In [23]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']   # Replacing Heet with Zayn
students[2] = 'Zayn'
print(students)

['Rohit', 'Zankar', 'Zayn', 'Alee', 'Akanxa']

- Add Item to a List

1) append()

Add an item to the end of the list.

In [24]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']  # New Sutdent is Zayn
students.append('Zayn')
print(students)

['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa', 'Zayn']

2. insert()

Add an item at a specific index.

In [26]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']  # New Sutdent is Zayn

students.insert(3, 'Zayn')
print(students)

['Rohit', 'Zankar', 'Heet', 'Zayn', 'Alee', 'Akanxa']

- Removing items from a List

1. remove()

Removes the first occurance of a specified value

In [29]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Rohit', 'Akanxa']
students.remove('Rohit')
print(students)

['Zankar', 'Heet', 'Alee', 'Rohit', 'Akanxa']

2. pop()

Remove an item by index

In [28]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']
students.pop(0)
print(students)

['Zankar', 'Heet', 'Alee', 'Akanxa']

- Length of a List

Returns no of items in a list

In [30]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']
print(len(students))

5

- Counting items

The count() counts how many times a specific item appears in the list.

In [32]:
numbers = [1, 1, 2, 3, 4, 4, 4, 5, 6]
print(numbers.count(4))

3

- Sorting a List

In [1]:
numbers = [2, 1.5, 4, 3, 1, 10, 8]
numbers.sort()
print(numbers)

[1, 1.5, 2, 3, 4, 8, 10]

In [34]:
numbers = [2, 1, 4, 3, 1, 10, 8]
numbers.sort(reverse=True)
print(numbers)

[10, 8, 4, 3, 2, 1, 1]

In [2]:
students = ['Uzair', 'Akanksha', 'Zankat', 'Rohit', 'Nikhil']
students.sort()
print(students)

['Akanksha', 'Nikhil', 'Rohit', 'Uzair', 'Zankat']

- Reversing a List

In [3]:
students = ['Uzair', 'Akanksha', 'Zankat', 'Rohit', 'Nikhil']

students.reverse()

print(students)

['Nikhil', 'Rohit', 'Zankat', 'Akanksha', 'Uzair']

- Checking for items in a List

In [5]:
students = ['Uzair', 'Akanksha', 'Zankat', 'Rohit', 'Nikhil']


# If virat exist in a list?
# in keyword

print('Uzair' in students)

True

In [ ]:
# Using a set
# Using a loop
# Using dict.fromkey()

# Dictionaries

- Dictionary in Python is a collection of key value pair.
- Each key in dictionary is unique.
- Keys are used to access its associated value.
- You can create a dictionary using curly braces {} with keys and values separated by a colon.
- Dictionaries are mutables (we can add, updated or remove key value pair)

English: 90

Maths: 80

Commerce: 90

Chemistry: 100

In [10]:
marks_dict = {
    'English' : 90,
    'Maths' : 80,
    'Commerce' : 90,
    'Chemistry' : 100
}

print(marks_dict)

{'English': 90, 'Maths': 80, 'Commerce': 90, 'Chemistry': 100}

- Accessing Values in a DIctionary

In [17]:
print(marks_dict['Chemistry'])

100

In [15]:
print(marks_dict.get('Biology'))

None

If a key doesn't exist and you use [] , it raises an error. But the .get() method avoids this by returning None of the key is not found.

- Add Key Value Pair

In [18]:
marks_dict = {
    'English' : 90,
    'Maths' : 80,
    'Commerce' : 90,
    'Chemistry' : 100
}

# Science 50

marks_dict['Science'] = 50

print(marks_dict)

{'English': 90, 'Maths': 80, 'Commerce': 90, 'Chemistry': 100, 'Science': 50}

- Updating Dictionary

In [19]:
marks_dict = {
    'English' : 90,
    'Maths' : 80,
    'Commerce' : 90,
    'Chemistry' : 50  # 10 Grace marks, so now my updated chem marks will be 50 + 10 = 60
}

marks_dict['Chemistry'] = 60

print(marks_dict)

{'English': 90, 'Maths': 80, 'Commerce': 90, 'Chemistry': 60}

In [20]:
marks_dict = {
    'English' : 90,
    'Maths' : 80,
    'Commerce' : 90,
    'Chemistry' : 100
}

marks_dict.pop('Maths')

print(marks_dict)

{'English': 90, 'Commerce': 90, 'Chemistry': 100}

- Dictionary Methods

1. keys()

Returns a list of all keys.

In [21]:
marks_dict = {
    'English' : 90,
    'Maths' : 80,
    'Commerce' : 90,
    'Chemistry' : 100
}

print(marks_dict.keys())

dict_keys(['English', 'Maths', 'Commerce', 'Chemistry'])

2. values()

Return a list of all values

In [22]:
marks_dict = {
    'English' : 90,
    'Maths' : 80,
    'Commerce' : 90,
    'Chemistry' : 100
}

print(marks_dict.values())

dict_values([90, 80, 90, 100])

- Merge Two Dictionaries

In [23]:
students_details = {
    'name' : 'Uzair',
    'age' : 26
}

marks_dict = {
    'English' : 90,
    'Maths' : 80,
    'Commerce' : 90,
    'Chemistry' : 100
}


students_details.update(marks_dict)

print(students_details)

{'name': 'Uzair', 'age': 26, 'English': 90, 'Maths': 80, 'Commerce': 90, 'Chemistry': 100}

- Checking if a key exists in a dictionary

In [25]:
marks_dict = {
    'English' : 90,
    'Maths' : 80,
    'Commerce' : 90,
    'Chemistry' : 100
}

print('Biology' in marks_dict)

False

1. Create a dictionary with three key-value pairs: name (your name), age (your age), and country (your country). Print the values associated with each key.


2. Given the dictionary person = {"name": "John", "city": "New York"}, print the value of the key "city".


3. Create a dictionary called car with the following keys: "make", "model", and "year". Add values to each key, then print the car's make and model.


4. Create a dictionary called movie that stores the title of the movie, director, and release year. After that, update the directorâ€™s name and print the updated dictionary.

In [4]:
#01
dict={
    "name":"nikhil",
      "age":24,
    "country" :"india"
}
print(dict) #print the associated key-value pair.

{'name': 'nikhil', 'age': 24, 'country': 'india'}

In [24]:
#02
d1={
    "name":"john",
    "city":"newyork"
}
print(d1.get("city")) #using get method to the get output for keyvalue pair city.

newyork

In [28]:
#03
car={  }
car["make"]="honda"
car["model"]="civic"
car["year"]=2012
print(car)

##after add key values to it,now print make and model of the car.
print(car["make"],car["model"]) ##print make and model of the car.

{'make': 'honda', 'model': 'civic', 'year': 2012}
honda civic

In [30]:
movie={
    "movie":"RRR",
    "Director":"SS.Rajamouli",
    "release year":2023
}
print(movie)
#after updating the director name as SSR.
movie["Director"]="SSR"
print(movie)

{'movie': 'RRR', 'Director': 'SS.Rajamouli', 'release year': 2023}
{'movie': 'RRR', 'Director': 'SSR', 'release year': 2023}