# Print function

In [1]:
print('Data Analyst')

Data Analyst

# What are Data Types?

Data types tells Python what kind of data we are working with.

- Integer: Whole numbers (5, 10, 100, 0, -300, -1)
- Float: Decimal numbers (10.5, 4.4, 3.147, -0.001)
- String: Sequence or Combination of Characters, and they are always enclosed in quotes ('Hello', 'World', '3.02', "Hi")
- Boolean: True or False values

# Variables

A variable is like a box where you can store data.

In [2]:
first_name = 'Uzair'
print(first_name)

Uzair

- Checking data type

In [4]:
marks = 100
height = 5.11
first_name = 'Uzair'
is_happy = True

print(type(marks))
print(type(height))
print(type(first_name))
print(type(is_happy))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Basic Operations

- Addition (+)
- Subtraction -
- Multiplication *
- Division /

In [6]:
print(15/3)

5.0

# Input from Users

In [15]:
age = input("Enter you age please:")
print(age)

26

# Introduction to String

- Accessing Character in a String (Indexing)

In [9]:
first_name = 'Rohit'  # The first character is at index 0, second char is at index 1 and so on.
print(first_name[0])

t

In [11]:
first_name = 'Rohittttttttttttttttttttttttttttttttttttttttttfgfbfvfbgvf'  
print(first_name[-2])

v

In [13]:
name = 'Rohit Sharma'
print(name[5])

t

- Slicing

Allow us to extract part of a string. You have to specify start and end index and Python will return the substring.

In [16]:
name = 'Rohit Sharma'
print(name[0:5])

Rohit

In [18]:
name = 'Rohit Sharma'
print(name[6:])

Sharma

In [19]:
name = 'Rohit Sharma'
print(name[:5])

Rohit

String Methods

1) lower()

In [20]:
greeting = 'HELLO'   # convert it into lowercase 'hello' 
print(greeting.lower())

hello

2. upper

In [21]:
first_name = 'rohit'  # convert it into uppercase 'ROHIT' 
print(first_name.upper())

ROHIT

3) strip()

It remove any unwanted space at the beginning and ending of a string.

In [2]:
text = '    Python    '
print(text)
print(text.strip())

    Pyt   hon
Pyt   hon

4. len

In [27]:
text = 'Pythonnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn'
print(len(text))

49

5. count

In [30]:
fruit = 'bananaba'
print(fruit.count('ba'))

2

In [1]:
# Exercise 2

# Convert the string " Hello, World! " to lowercase and remove any extra spaces at the beginning and end.

# Result: hello, world!

text = " Hello, World! "
modified_text = text.lower()  # Lowercasing and then storing in a new variable
print(modified_text.strip()) # Removing unwanted space

hello, world!

- replace method

Replace a part of the string with another string.

In [3]:
text = 'I like Python'
print(text.replace('like', 'love'))

I love Python

- Finding Substrings

1) index()

Returns the index of the first occurance of a substring, but raises an error if the substring is not found.

In [8]:
text = "Hello, World!"
print(text.index('H'))

0

2. find()

Returns the index of the first occurance of a substring, or -1 if not found.

In [7]:
text = "Hello, World!"
print(text.find('x'))

-1

- String Concatenation

Combining two strings

In [9]:
num1 = 2
num2 = 5

print(num1 + num2)

7

In [11]:
text1 = 'Hello'
text2 = 'World'

print(text1 + " " + text2)

Hello World

# List

- A list in Python is a collection of items, which can be of any data type such as integers, float, str, boolean.
- List are ordered.
- List are also mutable. (Replace, Add, Remove)
- We use square brackets to create a list.

In [ ]:
# Store all the names of students who enrolled in Computer Science class
# Rohit, Zankar, Heet, Alee, Zayn, Akanxa

student_1 = 'Rohit'
student_2 = 'Zankar'

In [16]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee']
print(students)

['Rohit', 'Zankar', 'Heet', 'Alee']

In [17]:
marks = [88, 47, 99, 100, 50]
print(marks)

[88, 47, 99, 100, 50]

In [18]:
uzair = ['Uzair', 26, 5.11, True, 'Football']
print(uzair)

['Uzair', 26, 5.11, True, 'Football']

- Accessing List Items

In [22]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']
print(students[0:3])

['Rohit', 'Zankar', 'Heet']

- Modify List Items

In [23]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']   # Replacing Heet with Zayn
students[2] = 'Zayn'
print(students)

['Rohit', 'Zankar', 'Zayn', 'Alee', 'Akanxa']

- Add Item to a List

1) append()

Add an item to the end of the list.

In [24]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']  # New Sutdent is Zayn
students.append('Zayn')
print(students)

['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa', 'Zayn']

2. insert()

Add an item at a specific index.

In [26]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']  # New Sutdent is Zayn

students.insert(3, 'Zayn')
print(students)

['Rohit', 'Zankar', 'Heet', 'Zayn', 'Alee', 'Akanxa']

- Removing items from a List

1. remove()

Removes the first occurance of a specified value

In [29]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Rohit', 'Akanxa']
students.remove('Rohit')
print(students)

['Zankar', 'Heet', 'Alee', 'Rohit', 'Akanxa']

2. pop()

Remove an item by index

In [28]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']
students.pop(0)
print(students)

['Zankar', 'Heet', 'Alee', 'Akanxa']

- Length of a List

Returns no of items in a list

In [30]:
students = ['Rohit', 'Zankar', 'Heet', 'Alee', 'Akanxa']
print(len(students))

5

- Counting items

The count() counts how many times a specific item appears in the list.

In [32]:
numbers = [1, 1, 2, 3, 4, 4, 4, 5, 6]
print(numbers.count(4))

3

- Sorting a List

In [33]:
numbers = [2, 1, 4, 3, 1, 10, 8]
numbers.sort()
print(numbers)

[1, 1, 2, 3, 4, 8, 10]

In [34]:
numbers = [2, 1, 4, 3, 1, 10, 8]
numbers.sort(reverse=True)
print(numbers)

[10, 8, 4, 3, 2, 1, 1]

DAY 02 PROBLEMS 
1. Write a Python program to concatenate the lists [1, 2, 3] and ["x", "y", "z"].

2. Write a Python program to remove the element "banana" from the list 

3. Write a Python program to add the element "grape" at index 1 to the list ["apple", "banana", "cherry"["apple", "banana", "cherry"].].

4. Write a Python program to replace "cherry" with "orange" in the list ["apple", "banana", "cherry"].

In [3]:
#01
L1=[1,2,3]
L2=["x","y","z"]
print(L1+L2) #by using concatenation i combine the two lists.

[1, 2, 3, 'x', 'y', 'z']

In [4]:
#02
L1=["apple", "banana", "cherry"]
L1.remove("banana") #using remove() method i removed banana from the given list L!.
print(L1)

['apple', 'cherry']

In [5]:
#03
L2=["apple", "banana", "cherry"]
L2.append("grape") #by using append() method i have added grape to the given list.
print(L2)

['apple', 'banana', 'cherry', 'grape']

In [7]:
#04
L3=["apple", "banana", "cherry"]
L3[2]="orange" #in list we dont have replace method ,so we have used indexing method to  change  the item.
print(L3)

['apple', 'banana', 'orange']