# Tuples

- Tuples is also a collection of items or another way to store multiple items just like a list.
- Tuple can hold any data type just like list.
- Tuples are immutuable which means we cannot their values after you create them.
- Tuples are ordered.
- We use round brackets to create a tuple.

In [1]:
fruits = ('apple', 'banana', 'cherry')
print(fruits)

('apple', 'banana', 'cherry')

- Access Tuple Items

In [2]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [3]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[-1])

cherry

In [4]:
fruits = ('apple', 'banana', 'cherry')
print(fruits[0:2])

('apple', 'banana')

- Tuples are immutable.

In [1]:
fruits = ('apple', 'banana', 'cherry')

fruits[0] = 'Kiwi'

print(fruits)

TypeError: 'tuple' object does not support item assignment

In [3]:
fruits = ('apple', 'banana', 'cherry')
fruits.remove('apple')
print(fruits)

AttributeError: 'tuple' object has no attribute 'remove'

- Length of a tuple

In [4]:
students = ('Uzair', 'Nikhil', 'Rohit', 'Zankar','Akanxa')
print(len(students))

5

- Check for an item in a tuple

In [6]:
students = ('Uzair', 'Nikhil', 'Rohit', 'Zankar','Akanxa')

print('Uzair' in students)

True

- Concatenating TUples

Combining two or more tuples

In [8]:
commerce_students = ('Uzair', 'Nikhil', 'Rohit', 'Zankar','Akanxa')
comp_sci_students = ('Ali', 'Zayn')

students = commerce_students + comp_sci_students
print(students)

('Uzair', 'Nikhil', 'Rohit', 'Zankar', 'Akanxa', 'Ali', 'Zayn')

- Counting occurance of an item

In [10]:
students = ('Uzair', 'Nikhil', 'Rohit', 'Uzair', 'Zankar','Akanxa')

print(students.count('Uzair'))

2

- Real World Use Case: Storing day of the week

In [ ]:
days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

# Immutability: You can't modify or remove any day
# Ordered data: Tuples maintain the order of elements, so it is easy to access, slice and work with specific days
# Tuples are more memory efficient than list

In [11]:
days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
days_of_the_week.sort()
print(days_of_the_week)

AttributeError: 'tuple' object has no attribute 'sort'

# Sets

A set in Python is like a collection of items, just like list or a tuple, but there are 2 key differences:
- Sets are unordered, which means the items don't have an index.
- Sets don't allow duplicates, so every item in a set is unique.
- We use curly brackets to create a set

- Create a Set

In [13]:
fruits = {'apple', 'banana', 'mangoes', 'kiwi', 'guava', 'pineapple'}
print(fruits)

{'apple', 'banana', 'guava', 'mangoes', 'kiwi', 'pineapple'}

In [22]:
students = set()

In [23]:
students.add('Uzair')
print(students)

{'Uzair'}

- No duplicates allowed

In [15]:
fruits = {'apple', 'banana', 'mangoes', 'kiwi', 'guava', 'pineapple', 'mangoes', 'kiwi'}
print(fruits)

{'apple', 'banana', 'guava', 'mangoes', 'kiwi', 'pineapple'}

- Adding items

In [16]:
fruits = {'apple', 'banana', 'mangoes', 'kiwi'}

fruits.add('guava')
print(fruits)

{'banana', 'mangoes', 'kiwi', 'apple', 'guava'}

- Removing items

In [18]:
fruits = {'apple', 'banana', 'mangoes', 'kiwi'}
fruits.remove('mangoes')
print(fruits)

{'apple', 'banana', 'kiwi'}

- Remove all items from the set

In [21]:
fruits = {'apple', 'banana', 'mangoes', 'kiwi'}

fruits.clear()

print(fruits)

set()

- Checking Membership

In [20]:
fruits = {'apple', 'banana', 'mangoes', 'kiwi'}

print('guava' in fruits)

False

- len()

In [24]:
fruits = {'apple', 'banana', 'mangoes', 'kiwi'}

print(len(fruits))

4

- Set Operations

1. union()

Combines all uniques items from two or more sets

In [25]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))

{1, 2, 3, 4, 5}

2. intersection()

Returns items that are common between two or more sets

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.intersection(set2))

{3}

3. difference()

Returns items that are in set1, but not in another set

In [27]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1.difference(set2))

{1, 2, 3}

In [ ]:
You are hosting an event and tracking who attends

- Emma

In [30]:
attendance = set()

attendance.add('Emma')
attendance.add('John')
attendance.add('Uzair')
attendance.add('Heet')
attendance.add('Rohit')
attendance.add('Emma')

In [31]:
print(attendance)

{'Uzair', 'John', 'Emma', 'Heet', 'Rohit'}

In [ ]:
# Recommendation System for a Social media app. 

# You open Instagram, you want to see reel. 

recommendation = [3, 70, 99, 88, 2, 3, 70]

In [ ]:
User: Nikhil

Database: {} -> 500 recommendations in advance

#Day 04 problems
1. Write a program that checks if a person is eligible to vote. (Age should be 18 or above).


2. Write a program that assigns grades based on a score:

90 and above: Grade A
70 to 89: Grade B
Below 70: Grade C


3. Write a program that categorizes the temperature:

Below 20: "Cold"
Above 20: "Warm"


4. Write a program to check if a person is eligible for a discount. Conditions: Age above 60 or below 18.


5. Write a program to check if a student is eligible for admission. Conditions:
Minimum age: 18
Marks above 75 in the entrance test.

In [1]:
#01
age=int(input("enter the age "))
if age>=18:
    print("person is eligible to vote") #when i enter age =23 it satisfies and print the if block statement.
else:
    print("person is not eligible to vote")

person is eligible to vote

In [ ]:
#02
student_grade=float(input("enter the marks"))

if student_grade>90:
    print("Grade A")
elif student_grade>=70:
    print("Grade B")
elif student_grade<70:
    print("Grade C")

Grade B

In [4]:
#03
temperature=float(input("enter the temperature"))
if temperature<20:
    print("cold")
elif temperature>20:
    print("Warm")

Warm

In [6]:
#04
discount_eligibility=float(input("enter the age to get a discount "))
if age<18 or age>60:
    print("person is eligible for discount")
else:
    print("person is not eigible for discount")

person is not eigible for discount

In [7]:
#05
student_age=int(input("enter the age"))
student_marks=float(input("enter the marks"))
if student_age>=18 and student_marks>75:
    print("he is eligible for admission")
else:
    print("student is not eligible for admission")

he is eligible for admission

Day 05 problems

1. Create two sets, set1 = {1, 2, 3} and set2 = {2, 3, 4}. Write a program to find their union.


2. Write a program to create a set with integers {10, 20, 30}.
Add a new element 40.
Remove the element 20.


3. Write a program to check if setA = {1, 2} is a subset of setB = {1, 2, 3, 4}.


4. Write a program that defines a tuple with 5 numbers. Print the first and last elements of the tuple.

In [8]:
#01
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3=set1.union(set2) #using union method u can combine two sets.
print(set3)

{1, 2, 3, 4}

In [13]:
#02
set4={10, 20, 30}
set4.add(40) #usinf add method ,i have added 40 to the set
print(set4) 
set4.remove(20) #using remove method ,i have remove the value 20 from the above set.
print(set4)

{40, 10, 20, 30}
{40, 10, 30}

In [14]:
#03
setA = {1, 2}
setB = {1, 2, 3, 4}
setC=setA.intersection(setB) #using intersection method we can check setB is a substring of set A,hence it is true.
print(setC)

{1, 2}

In [17]:
#04
t1=(1,2,3,4,5)
print(t1[0]) #first element
print(t1[4]) #last element

1
5