# What are Loops?

Loops allow us to execute a block of code multiple times without needing to rewrite the code repeatedly.

In Python, there are two main types of loops:
1. for loop
2. while loop

### for loop

A loop is used to iterate over a sequence like a list, string, or a range of number.

In [4]:
'''
1
2
3
4
5
6
7
'''

# print(numbers[0])
# print(numbers[1])
# print(numbers[2])

'\n1\n2\n3\n4\n5\n6\n7\n'

#### Q1

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7]

# for is a keyword for *for loop*
# item is a variable
# in is a keyword to connect variable with the list
# numbers is a list which i defined above 
# print(item)  print the current value in item variable

# This loop runs 7 times, because there are 7 items in a list

for item  in numbers: # This line start the for loop
    print(item)
    
    # 1st iteration: item = 1, so it print the current item which is 1
    # 2nd iteration: item = 2, so it print the current item which is 2
    # 3rd iteration: item = 3, so it print the current item which is 3.

1
2
3
4
5
6
7

#### Q2

In [6]:
text = 'Python'

for char in text:
    print(char)

P
y
t
h
o
n

#### Q3

In [8]:
# Capitializing items in a list 

fruits = ['apple', 'cherry', 'banana', 'date']

for item in fruits: 
    print(item.upper())

APPLE
CHERRY
BANANA
DATE

#### Q4

In [7]:
# Print numbers from 0 to 10

for number in range(11):  # This range function generate numbers from 0 to 10
    print(number)
    
    # On first iter, range func will generate 0 and then number = 0, then we are printing current value of number
    # On second iter, range func will generate 1, and then number = 1, after that we are printing curr val of number

0
1
2
3
4
5
6
7
8
9
10

#### Q5

In [11]:
# Print numbers from 5 to 15

for number in range(5, 16):
    print(number)

5
6
7
8
9
10
11
12
13
14
15

#### Q6

In [14]:
# Print "Python is awesome" 10 times 

for char in range(10):
    print('Python is awesome')

Python is awesome
Python is awesome
Python is awesome
Python is awesome
Python is awesome
Python is awesome
Python is awesome
Python is awesome
Python is awesome
Python is awesome

#### Q7

In [ ]:
'''
1. I am sorry
2. I am sorry
3. I am sorry
.
.
. 
10. I am sorry
'''

In [18]:
for number in range(1,11):  
    print(f"{number}. I am sorry")
    
    # On first iteration, number = 1
    # 1. I am sorry
    
    # On second iteration, number = 2
    # 2. I am sorry

1. I am sorry
2. I am sorry
3. I am sorry
4. I am sorry
5. I am sorry
6. I am sorry
7. I am sorry
8. I am sorry
9. I am sorry
10. I am sorry

#### Q8

In [18]:
# Print numbers from 10 to 1 

# 10
# 9
# 8
# 7
# 6
# 5
# 4
# 3
# 2
# 1


for number in range(10, 0, -1):  # range(start=10, stop=0, step=-1)
    print(number)

10
9
8
7
6
5
4
3
2
1

#### Q9

In [21]:
# Incrementing by 2

for number in range(0, 10, 2):
    print(number)

0
2
4
6
8

##DAY 09 PROBLEMS
1. Write a for loop to print numbers from 0 to 4 using range.


2. Use a for loop to print numbers from 1 to 5.


3. Write a for loop to print even numbers between 0 and 10 (inclusive) using range.


4. Print all numbers between 3 and 8 (inclusive) using a for loop and range.


5. Use a for loop to print "Python is fun!" 5 times.


6. Write a for loop to print numbers from 0 to 2.


7. Use a for loop to print the number 5 three times.


8. Create a for loop to print "Hello" four times.


9. Write a for loop to print the numbers 1, 2, 3 using range.


10. Write a for loop that just prints "Loop is running!" three times.


11. Create a for loop that doesn't print anything but runs 5 times using range(5).


12. Print all the numbers from 10 to 1 in descending order using a for loop.


13. Given a list of numbers, write a for loop to print each number in the list.


14. Write a for loop to print each character in a given string.


15. Use a for loop to convert each character of "hello" to uppercase.


16. Write a program to print your name 5 times using a for loop.

In [19]:
#01
for numbers in range(5):
    print(numbers)

0
1
2
3
4

In [20]:
#02
numbers=[1,2,3,4,5]
for item in numbers:
    print(item)

1
2
3
4
5

In [23]:
#03
for numbers in range(0,11,2):  #printing even numbers using range(start value,end value,step).
    print(numbers)

0
2
4
6
8
10

In [24]:
#04
for numbers in range(3,9):
    print(numbers)

3
4
5
6
7
8

In [29]:
#05
for numbers in range(1,6):
    print(f"{numbers}. python is fun!")

1. python is fun!
2. python is fun!
3. python is fun!
4. python is fun!
5. python is fun!

In [35]:
#06
numbers=[0,1,2]
for item in numbers:
    print(item)

0
1
2

In [1]:
#07
for number in range(3):
    print(5)

5
5
5

In [69]:
#08
for number in range(1,5):
    print(f"{number}. Hello")

1. Hello
2. Hello
3. Hello
4. Hello

In [70]:
#09
for number in range(1,4):
    print(number)

1
2
3

In [78]:
#10
for number in range(1,4):
    
    print(f"{number}.Loop is running!")

1.Loop is running!
2.Loop is running!
3.Loop is running!

In [81]:
#11
for number in range(5):
    print("")

In [84]:
#12
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [88]:
#13
List=[5,10,15,20,25,30]
for items in range(5,35,+5):
    print(items)

5
10
15
20
25
30

In [93]:
#14
str1="Nikhil"
for char in str1:
    print(char)

N
i
k
h
i
l

In [94]:
#15
str2="hello"
for char in str2:
    print(char.upper())

H
E
L
L
O

In [96]:
#16
for number in range(1,6):
    print(f"{number}.NIKHIL")

1.NIKHIL
2.NIKHIL
3.NIKHIL
4.NIKHIL
5.NIKHIL